<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Staff</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li><a th:href="@{/system/usersentry}">Users Entry</a></li>
										<li class="active"><a th:href="@{/system/staff}">Staff</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/system/staff}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${#strings.isEmpty(pdmst.xstaff)}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not #strings.isEmpty(pdmst.xstaff) and pdmst.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(pdmst.xstaff) and pdmst.zactive == true}" th:href="@{/system/staff/archive/} + ${pdmst.xstaff}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(pdmst.xstaff) and pdmst.zactive == false}" th:href="@{/system/staff/restore/} + ${pdmst.xstaff}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/system/staff/save}" th:object="${pdmst}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xtrn}" th:if="${not #strings.isEmpty(pdmst.xstaff)}"/>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group" th:if="${#strings.isEmpty(pdmst.xstaff)}">
														<label class="control-label col-md-4" for="xtrn">Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="p : ${prefix}" th:value="${p.xtrn}" th:text="${p.xtrn}"></option>
															</select>
														</div>
													</div>
													<div class="form-group" th:if="${not #strings.isEmpty(pdmst.xstaff)}">
														<label class="control-label col-md-4" for="xstaff">Staff ID : </label>
														<div class="col-md-8">
															<input type="hidden" class="form-control" th:field="*{xstaff}">
															<input type="text" class="form-control" th:value="*{xstaff}" disabled="disabled">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xname">Name : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xname}" required="required">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xemail">Email : </label>
														<div class="col-md-8">
															<input type="email" class="form-control" th:field="*{xemail}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xphone">Phone : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xphone}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xmobile">Mobile : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xmobile}" required="required">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xreligion">Religion : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xreligion}">
																<option th:each="e : ${religion}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xbloodgroup">Blood Group : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xbloodgroup}">
																<option value="">-- Select --</option>
																<option th:each="e : ${bloodgroup}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xbirthdate">Birth Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xbirthdate"
																	name="xbirthdate"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													<div class="form-group input2">
														<label class="control-label col-sm-4" for="xsex">Gender : </label>
														<div class="col-sm-8">
															<div class="radio" th:each="s : ${sex}">
																<label><input type="radio" class="form-control-input2" th:field="*{xsex}" th:value="${s.xcode}" required="required"/><span th:text="${s.xcode}"></span></label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xmadd">Present Address : </label>
														<div class="col-md-8">
															<textarea rows="3" cols="" class="form-control" th:field="*{xmadd}"></textarea>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xpadd">Permanent Address : </label>
														<div class="col-md-8">
															<textarea rows="3" cols="" class="form-control" th:field="*{xpadd}"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdistrict">District : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdistrict}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xempcategory">Category : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xempcategory}">
																<option value="">-- Select --</option>
																<option th:each="e : ${empcategories}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xdeptname">Department : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xdeptname}">
																<option value="">-- Select --</option>
																<option th:each="e : ${departments}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xdesignation">Designation : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xdesignation}">
																<option value="">-- Select --</option>
																<option th:each="e : ${designations}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-sm-4" for="xemptype">Employee Type : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xemptype}">
																<option value="">-- Select --</option>
																<option th:each="e : ${emptypes}" th:value="${e.xcode}" th:text="${e.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdatejoin">Joining Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdatejoin"
																	name="xdatejoin"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xenddate">End Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xenddate"
																	name="xenddate"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													<div class="form-group input2">
														<label class="control-label col-sm-4" for="xempstatus">Status : </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xempstatus}">
																<option th:each="s : ${empstatus}" th:value="${s.xcode}" th:text="${s.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group input2">
														<label class="control-label col-sm-4" for="allowlogin">Allow login?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{allowlogin}" value="Y"/></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Staff</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>ID</th>
													<th>Name</th>
													<th>Mobile</th>
													<th>Status</th>
													<th>Active?</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="s : ${staffs}">
													<td>
														<a th:href="@{/system/staff/} + ${s.xstaff}" th:text="${s.xstaff}"></a>
													</td>
													<td th:text="${s.xname}"></td>
													<td th:text="${s.xmobile}"></td>
													<td th:text="${s.xempstatus}"></td>
													<td th:text="${s.zactive ? 'Y' : 'N'}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
