<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>BOM Entry/Receipe Setting</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/production}">Production</a></li>
										<li class="active"><a th:href="@{/production/bom}">BOM Entry/Receipe Setting</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>BOM Entry</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/production/bom}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(bom.xbomkey)}" th:href="@{/production/bom}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(bom.xbomkey) and bom.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(bom.xbomkey) and bom.zactive == true}" th:href="@{/production/bom/archive/} + ${bom.xbomkey}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(bom.xbomkey) and bom.zactive == false}" th:href="@{/production/bom/restore/} + ${bom.xbomkey}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/production/bom/save}" th:object="${bom}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
											<input th:if="${not #strings.isEmpty(bom.xbomkey)}" type="hidden" class="form-control" th:field="*{xbomkey}"/>
											<div class="row">
												<div class="col-md-8">

													<div class="form-group" th:if="${#strings.isEmpty(bom.xbomkey)}">
														<label class="control-label col-md-4" for="xtrn">Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="bp : ${bomprefix}" th:text="${bp.xtrn}" th:value="${bp.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(bom.xbomkey)}">
														<label class="control-label col-md-4" for="xtrn">BOM Code : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${bom.xbomkey}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-sm-4" for="xitem">Prod Item : </label>
														<div class="col-sm-8 search-suggest">
															<input 	type="text" 
																	class="form-control searchsuggest xitemsearch" 
																	placeholder="Search..." 
																	th:value="${not #strings.isEmpty(bom.xitem) ?  bom.xitem + ' - ' + bom.xdesc : ''}" 
																	th:attr="search-url='search/caitem/finishednprod'"/>
															<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem" value=""/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div>

												</div>
												<div class="col-md-4"></div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>BOM List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>BOM</th>
													<th>Item</th>
													<th>Date</th>
													<th>Batch Qty</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="bh : ${bomheaders}">
													<td>
														<a th:href="@{/production/bom/} + ${bh.xbomkey}" th:text="${bh.xbomkey}"></a>
													</td>
													<td>
														<a th:href="@{/mastersetup/caitem/} + ${bh.xitem}" target="_blank" th:text="${bh.xitem} + ' - ' + ${bh.xdesc}"></a>
													</td>
													<td  th:text="${#dates.format(bh.xdate, df)}"></td>
													<td th:text="${bh.xpreferbatchqty}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12" th:if="${not #strings.isEmpty(bom.xbomkey)}">
						<!-- poorddetail section -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<!-- <a id="listlines-url" th:href="@{/purchasing/poord/poorddetails/} + ${bom.xbomkey}"></a> -->
							<div class="section-header sectionbartoggle">
								<h1>BOM Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="bomdetailtable" th:fragment="bomdetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Type</th>
											<th>Qty Mix</th>
											<th>Unit</th>
											<th>Assembly</th>
											<th>Fixed Qty</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/production/bom/} + ${bom.xbomkey} + '/bomdetail/new/show', data-target-modal='bomdetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="bd : ${bomdetails}">
											<td th:text="${bd.xbomrow}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${bd.xbomcomp}" th:text="${bd.xbomcomp} + ' - ' + ${bd.xdesc}"></a>
											</td>
											<td th:text="${bd.xstype}"></td>
											<td th:text="${bd.xqtymix}"></td>
											<td th:text="${bd.xunit}"></td>
											<td th:text="${bd.xassembly}"></td>
											<td th:text="${bd.xfixedqty}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/production/bom/} + ${bom.xbomkey} + '/bomdetail/' + ${bd.xbomrow} + '/show', data-target-modal='bomdetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/production/bom/} + ${bom.xbomkey} + '/bomdetail/' + ${bd.xbomrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="bomdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>