<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{/login-assets/img/favicon.ico}" rel="icon" type="image/x-icon" />
<script th:src="@{/login-assets/js/jquery.js}"></script>
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link th:if="${!isKhanas}" rel="stylesheet" th:href="@{/login-assets/css/style.css}" />
<link th:if="${isKhanas}" rel="stylesheet" th:href="@{/login-assets/css/khanas-style.css}" />
<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<a class="basePath" th:href="@{/}"></a>
				<form id="fakeloginform" class="sign-in-form" role="form" th:action="@{/login/fakelogin}" method="post" autocomplete="off">
					<h2 class="title" style="color: #fff;">Sign in</h2>

					<div th:if="${param.error}" style="color: red; margin-bottom: 10px; text-align: center; margin-top: -10px;">Wrong credential</div>
					<div th:if="${param.logout}" style="color: #fff; margin-bottom: 10px; text-align: center; margin-top: -10px;">You have been logged out</div>
					<div class="error-message-container" style="color: #dbff13; display: none; margin-bottom: 10px; text-align: center; margin-top: -10px;">You have been logged out</div>

					<div class="input-field" data-validate = "Valid username required">
						<i class="fas fa-user"></i> 
						<input type="text" name="username" id="username" placeholder="Username" autocomplete="off"/>
					</div>
					<div class="input-field" data-validate = "Password is required">
						<i class="fas fa-lock"></i> 
						<input type="password" name="password" id="password" placeholder="Password" autocomplete="off"/>
					</div>
					<input type="submit" value="Login" class="btn solid fake-login-btn" />
				</form>
			</div>
		</div>

		<div class="panels-container">
			<div class="panel left-panel">
				<img th:if="${isKhanas}" class="site-logo" th:src="@{/login-assets/img/khanas_logo.png}" style="width: 400px;"/>
				<img th:if="${isTcc}" class="site-logo" th:src="@{/login-assets/img/tcc.png}" style="width: 400px;"/>
				<img th:if="${isDev}" th:src="@{/login-assets/img/} + ${logoName}" style="width: 100%"/>
				<img th:if="${isBoshila}" th:src="@{/login-assets/img/} + ${logoName}" style="width: 100%"/>
			</div>
		</div>
	</div>

	<script th:src="@{/login-assets/js/app.js}"></script>
</body>
</html>
	