<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Order</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/purchasing}">Purchasing</a></li>
										<li class="active"><a th:href="@{/purchasing/grn}">GRN</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Good Receipt Note / Number</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/purchasing/grn}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(pogrnheader.xgrnnum)}" th:href="@{/purchasing/grn}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(pogrnheader.xgrnnum) and pogrnheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(pogrnheader.xgrnnum) and pogrnheader.zactive == true}" th:href="@{/purchasing/grn/archive/} + ${pogrnheader.xgrnnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(pogrnheader.xgrnnum) and pogrnheader.zactive == false}" th:href="@{/purchasing/grn/restore/} + ${pogrnheader.xgrnnum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/purchasing/grn/save}" th:object="${pogrnheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(poordheader.xpornum)}" th:field="*{xpornum}"/> -->
											<input type="hidden" th:field="*{xtype}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(pogrnheader.xgrnnum)}" class="form-control" th:field="*{xgrnnum}">
											<input type="hidden" class="form-control" th:field="*{xtotamt}">
											<div class="row">
												<div class="col-md-6">

													<!-- <div class="form-group" th:if="${#strings.isEmpty(poordheader.xpornum)}">
														<label class="control-label col-md-4" for="xitem">GRN Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrnpor}">
																<option th:each="prefix : ${poprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div> -->

													<div class="form-group" th:if="${not #strings.isEmpty(pogrnheader.xgrnnum)}">
														<label class="control-label col-md-4" for="xgrnnum">GRN Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xgrnnum}" disabled="disabled">
														</div>
													</div>

												

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${pogrnheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(pogrnheader.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div>

												</div>
												<div class="col-md-6">
													

													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusgrn">GRN Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatusgrn}">
																<option th:each="s : ${grnStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
															</select>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							
							
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All GRN Orders</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>GRN Number</th>
													<th>Date</th>
													<th>Warehouse</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="pogrn : ${allPogrnHeader}">
													<td>
														<a th:href="@{/purchasing/grn/} + ${pogrn.xgrnnum}" th:text="${pogrn.xgrnnum}"></a>
													</td>
													<td  th:text="${#dates.format(pogrn.xdate, df)}"></td>
													<td th:text="${pogrn.xwh}"></td>
													<td th:text="${pogrn.xstatusgrn}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

				<div class="col-md-12">
						poorddetail section
						<section th:if="${not #strings.isEmpty(pogrnheader.xgrnnum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/purchasing/grn/grndetail/} + ${pogrnheader.xgrnnum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Order Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="grndetailtable" th:fragment="grndetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Note</th>
											<th>Qty</th>
											<th>Rate</th>
											<th>Purchase Unit</th>
											<th>Net Amount</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/new/show', data-target-modal='poorddetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${poorddetailsList}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a href="" th:text="${d.xitem}"></a>
											</td>
											<td th:text="${d.xnote}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xunitpur}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/show', data-target-modal='poorddetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
					
					
				</div>
			</div>
		</div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>
</html>