<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Report</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/report}">Report</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div th:if="${plg.value.allchecked}" class="col-md-12 content-area" th:each="plg : ${plmap}">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 10px;">
							<div class="section-header sectionbartoggle">
								<h1><i class="fas fa-chevron-down"></i> <span th:text="${plg.key}"></span></h1>
							</div>
							<div class="section-body togglebox">
								<table class="table dashboard-menu-table">
									<tr>
										<td colspan="2" th:text="${plg.key}">Procurements</td>
									</tr>
									<tr th:if="${pl ne null and pl.display}" th:each="pl, in : ${plg.value.profileLines}">
										<td><a th:href="@{/report/} + ${pl.profilelinecode}" th:text="${pl.profilelinecode} + ' - ' + ${pl.screenprompt}">Purchase Order Listing</a></td>
										<td>
											<a th:href="@{/report/} + ${pl.profilelinecode}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
								</table>
							</div>
						</section>
					</div>

				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

	</body>
</html>
