<!-- Modal -->
<div id="pamodal" th:fragment="pamodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Update profile line</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/system/profileallocation/save}" method="post" class="form-horizontal" th:object="${pa}">
						<input type="hidden" th:field="*{paid}"/>
						<input type="hidden" th:field="*{zemail}"/>
						<input type="hidden" th:field="*{xtypetrn}"/>
						<input type="hidden" th:field="*{xtrn}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="zemail">Username: </label>
								<div class="col-sm-8">
									<input type="text" class="form-control" th:field="*{zemail}" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="mpcode">Menu Profile: </label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{mpcode}">
										<option value=""> -- Select --</option>
										<option th:each="mp : ${mpcodes}" th:value="${mp.profilecode}" th:text="${mp.profilecode}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="rpcode">Report Profile: </label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{rpcode}">
										<option value=""> -- Select --</option>
										<option th:each="rp : ${rpcodes}" th:value="${rp.profilecode}" th:text="${rp.profilecode}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="upcode">User Profile: </label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{upcode}">
										<option value=""> -- Select --</option>
										<option th:each="up : ${upcodes}" th:value="${up.profilecode}" th:text="${up.profilecode}"></option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			})
		</script>
	</div>
</div>