<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Manage Users</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li><a th:href="@{/system/usersentry}">Users Entry</a></li>
										<li class="active"><a th:href="@{/system/xusers}">Manage Users</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
									
									</div>
									<div class="form-action-button">
										<a th:href="@{/system/xusers}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${#strings.isEmpty(xusers.zemail)}" th:href="@{/system/xusers}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(xusers.zemail) and xusers.zactive == true and xusers.systemadmin ne true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(xusers.zemail) and xusers.zactive == true and xusers.systemadmin ne true}" th:href="@{/system/xusers/archive/} + ${xusers.zemail}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(xusers.zemail) and xusers.zactive == false and xusers.systemadmin ne true}" th:href="@{/system/xusers/restore/} + ${xusers.zemail}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/system/xusers/save}" th:object="${xusers}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label col-md-4" for="xname">Full Name</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xname}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-sm-4" for="xitem">Staff : </label>
														<div class="col-sm-6">
															<input 	type="text" 
																	class="form-control searchsuggest xitemsearch" 
																	placeholder="Search..." 
																	th:value="*{xstaff}" 
																	th:attr="search-url='search/staff'"/>
															<input type="hidden" id="search-val" th:field="*{xstaff}" value=""/>
															<input type="hidden" id="search-des" th:value="*{xstaff}"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="zemail">Username</label>
														<div class="col-md-6">
															<input th:if="${not #strings.isEmpty(xusers.zemail)}" type="hidden" th:field="*{zemail}"/>
															<input type="hidden" name="newflag" id="newflag" th:value="${#strings.isEmpty(xusers.zemail) ? 'Y' : 'N'}"/>
															<input type="text" class="form-control" th:field="*{zemail}" required="required" th:disabled="${not #strings.isEmpty(xusers.zemail)}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xpassword">Password</label>
														<div class="col-md-6">
															<input type="password" class="form-control" th:field="*{xpassword}" th:required="${#strings.isEmpty(xusers.zemail)}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xphone">Phone</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xphone}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xmadd">Address</label>
														<div class="col-md-6">
															<textarea rows="3" cols="" class="form-control" th:field="*{xmadd}"></textarea>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Users</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Full Name</th>
														<th>Username</th>
														<th>Staff ID/Name</th>
														<th>Phone</th>
														<th>Address</th>
														<th>Active?</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="u : ${xusersList}">
														<td th:text="${u.xname}"></td>
														<td>
															<a th:href="@{/system/xusers/} + ${u.zemail}" th:text="${u.zemail}"></a>
														</td>
														<td>
															<a th:href="@{/system/staff/} + ${u.xstaff}" th:if="${not #strings.isEmpty(u.xstaff)}" th:text="${u.xstaff} + ' - ' + ${u.staffname}" target="_blank"></a>
														</td>
														<td th:text="${u.xphone}"></td>
														<td th:text="${u.xmadd}"></td>
														<td th:text="${u.zactive ? 'Y' : 'N'}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
