<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Print Settings</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/printsettings}">Print Settings</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Print Settings</h1>
									</div>
									<div class="form-action-button">
										<a href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post">
											<div class="row">
												<div class="col-md-4">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group input2">
																<label class="control-label col-sm-10" for="xproditem">Invoice/Bill</label>
																<div class="col-sm-2">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<div class="col-md-8">
																	<input type="number" class="form-control" min="0" placeholder="0"/>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group input2">
																<label class="control-label col-sm-10" for="xproditem">Sign out Slip</label>
																<div class="col-sm-2">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<div class="col-md-8">
																	<input type="number" class="form-control" min="0" placeholder="0"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group input2">
																<label class="control-label col-sm-10" for="xproditem">Token</label>
																<div class="col-sm-2">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<div class="col-md-8">
																	<input type="number" class="form-control" min="0" placeholder="0"/>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group input2">
																<label class="control-label col-sm-10" for="xproditem">Credit Card Ship</label>
																<div class="col-sm-2">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<div class="col-md-8">
																	<input type="number" class="form-control" min="0" placeholder="0"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group input2">
																<label class="control-label col-sm-10" for="xproditem">KOT</label>
																<div class="col-sm-2">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<div class="col-md-8">
																	<input type="number" class="form-control" min="0" placeholder="0"/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
						
							</div>
						</div>
					</div>
				</div>
			</div>

		

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
		<script type="text/javascript">
			$(document).ready(function(){
				
				
				
			})
		</script>
	</body>
</html>
