<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Land Committee Event</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landevents}">Land Committee Event</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Committee Event</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landevents}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a th:if="${#strings.isEmpty(comevent.xevent)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a th:if="${not #strings.isEmpty(comevent.xevent) and comevent.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a th:if="${not #strings.isEmpty(comevent.xevent) and comevent.zactive == true}"  th:href="@{/landevents/delete/} + ${comevent.xevent}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div> 
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landevents/save}" th:object="${comevent}"  th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xevent}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															
															<div class="form-group" th:if="${#strings.isEmpty(comevent.xevent)}">
																<label class="control-label col-md-4" for="xtrn">Event ID </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(comevent.xevent)}" >
																<label class="control-label col-md-4" for="xevent">Event ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xevent}" disabled="disabled"/>
																</div>
															</div>
														
														<div class="form-group" >
															<label class="control-label col-md-4" for="xperson">Committee ID</label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${comevent.xcommittee}" 
																		th:attr="search-url='search/committeeId'"/>
																<input type="hidden" id="search-val" th:field="*{xcommittee}"/>
																<input type="hidden" id="search-des" th:value="*{xcommittee}"/>
															</div>
														</div>
										
															<div class="form-group">
																<label class="control-label col-md-4" for="xtype">Event Type</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtype}">
																		<option th:each="d : ${comTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">Date </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			required="required"
																			th:value="${comevent.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(comevent.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xstartdate">Start Date  </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																		class="form-control" 
																		id="xstartdate"
																		name="xstartdate"
																		required="required"
																		th:value="${comevent.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(comevent.xstartdate, df)}"/>
																
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xstarttime">Start Time </label>
																<div class="input-group time col-md-5 date-time-wrapper timepicker">
																	<input class="form-control" th:field="*{xstarttime}" data-type="timepicker" placeholder="Start" required="required" >
																	<span class="input-group-append input-group-addon">
																		<span class="input-group-text">
																			<i class="fa fa-clock"></i>
																		</span>
																	</span>
																</div>
															</div>
															
															
														
														</div>
															
														<div class="col-md-6">
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xenddate">End Date  </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																	class="form-control" 
																	th:field="*{xenddate}"
																	id="xenddate"
																	name="xenddate"
																	required="required"
																	th:value="${comevent.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(comevent.xenddate, df)}"
																	/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xendtime">End Time  </label>
																<div class="input-group time col-md-5 date-time-wrapper timepicker">
																	<input class="form-control" th:field="*{xendtime}" data-type="timepicker" placeholder="Start" required="required" >
																	<span class="input-group-append input-group-addon">
																		<span class="input-group-text">
																			<i class="fa fa-clock"></i>
																		</span>
																	</span>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xagenda">Agenda </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  th:field="*{xagenda}" maxlength="100" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xplace">Place </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  th:field="*{xplace}" maxlength="100" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xlong">Meeting Minuites</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xlong}" placeholder="Note"></textarea>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
																</div>
															</div>
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> All Committee Events</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Event ID</th>
														<th>Committee ID</th>
														<th>Event Type</th>
														<th>Agenda</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar : ${allComEvents}">
														<td><a th:href="@{/landevents/} + ${ar.xevent}" th:text="${ar.xevent}"></a></td>
														<td th:text="${ar.xcommittee}"></td>
														<td th:text="${ar.xtype}"></td>
														<td th:text="${ar.xagenda}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<section th:if="${not #strings.isEmpty(comevent.xevent)}" id="data-maintenance" style="margin-top: 30px;">
				<div class="section-header sectionbartoggle">
					<h1> Event Members of <span th:text="${comevent.xevent}"></span> </h1>
					
				</div>
				<div class="section-body">
					<table class="table table-striped table-bordered normal-table" id="eventmembertable" th:fragment="eventmembertable">
						<thead>
							<tr>
								<th>SL#</th>
								<th>Person ID</th>
								<th>Member Type</th>
								<th>Other Person Name</th>
								<th>Note</th>
								<th data-nosort="Y" style="text-align: right;">
									<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landevents/} + ${comevent.xevent} + '/eventmember/new/show', data-target-modal='eventmembermodal'"><i class="fas fa-plus"></i></button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="d, n : ${lemlist}">
								<td th:text="${n.count}"></td>
								<td th:text="${d.xperson}"></td>
								<td th:text="${d.xmembertype}"></td>
								<td th:text="${d.xname}"></td>
								<td th:text="${d.xnote}"></td>
								<td data-nosort="Y" style="text-align: right; font-size: 11px;">
									<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landevents/} + ${comevent.xevent} + '/eventmember/' + ${d.xrow} + '/show', data-target-modal='eventmembermodal'"><i class="fas fa-edit"></i></button>
									<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landevents/} + ${comevent.xevent} + '/eventmember/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
								</td>
							</tr>
						</tbody>
						<tfoot>
						<tr>
						
						
						</tr>
						</tfoot>
					</table>
				</div>
			</section>
		</div>
				</div>
			</div>
		</div>
		

		<!-- Modal -->
		<div id="eventmembermodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
