<!-- Modal -->
<div id="surveymodal" th:fragment="surveymodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Survey Information</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal" th:action="@{/landinfo/survey/save}" method="post" th:object="${lls}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-4" for="xland">Land ID </label>
									<div class="col-md-8">
										<input type="hidden" class="form-control" th:field="*{xland}"/>
										<input type="text" class="form-control" th:value="*{xland}" disabled="disabled"/>
									</div>
								</div>
								
								<div class="form-group" th:if="${not #strings.isEmpty(lls.xland)}">
									<label class="control-label col-md-4" for="xsurveyor">Surveyor ID </label>
									<div class="col-sm-7">
										<input 	type="text" 
												class="form-control searchsuggest" 
												placeholder="Search..." 
												th:value="${lls.xsurveyor}" 
												th:attr="search-url='search/landSur'"/>
										<input type="hidden" id="search-val" th:field="*{xsurveyor}"/>
										<input type="hidden" id="search-des" th:value="*{xsurveyor}"/>
									</div>
								</div>
								<div class="form-group" th:if="${#strings.isEmpty(lls.xland)}">
									<label class="control-label col-md-4" for="xsurveyor">Surveyor ID </label>
									<div class="col-md-7">
										<input type="hidden" class="form-control" th:field="*{xsurveyor}"/>
										<input type="text" class="form-control" th:value="*{xsurveyor}" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group datepicker">
									<label class="control-label col-md-4" for="xdate">Date </label>
									<div class="input-group date col-md-6 datepicker">
										<input 	type="datepicker" 
												class="form-control" 
												id="xdate"
												name="xdate"
												required="required"
												th:value="${lls.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(lls.xdate, df)}"/>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-2" for="xnote">Note </label>
									<div class="col-md-6">
										<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note here.."></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-functions.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			});
		</script>
</div>
