/*
=======================================================
============ Override bootstrap default style =========
=======================================================
*/
body{
	font-size: 13px;
}



.title-divider{
	color: #0987c5;
}
h1.brand-name{
	font-size: 50px;
}
.section-border{
	border: 1px solid #ddd; 
	box-sizing: border-box; 
	padding: 20px 10px;
}

a.btn.nodisplay{
	display: none !important;
}
.form-action-button{
	padding: 0px 0px 10px 0px; text-align: center;
}

.default-mo-box{
	
	border: 1px solid #ddd; 
	box-shadow: 0px 0px 5px #eee; 
	padding: 20px 20px 0px 20px; 
	border-radius: 5px
	
}


/*
=== Nav bar
*/

.navbar-primary a{
	color: #fff;
}

.navbar-inverse {
    background-color: #961b39;
    border-color: #961b39;
    color: #fff;
}
.navbar-inverse a{
	color: #fff !important;
}

.navbar-inverse ul.dropdown-menu a{
	color: #000 !important;
}

.navbar-inverse ul.dropdown-menu > li:hover a, .navbar-inverse ul.dropdown-menu > li.active a{
	background-color: #961b39 !important;
	color: #fff !important;
}

.navbar-inverse ul.dropdown-menu.ckbigmenu > li:hover a{
	background-color: #f5f5f5 !important;
	color: #000 !important;
}

.navbar-inverse li.active > a{
	background-color: #7b0724 !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
   	background-color: #7b0724 !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #7b0724 !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus  {
    border-color: #7b0724 !important;
    background-color: #7b0724 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #7b0724 !important;
}


/**
==== Editmode Buttons
*/
.btn.editmode{
	width: 28px;
	height: 28px;
	padding: 0px;
	font-size: 12px;
	border: 1px solid #ccc;
}
.btn-default, .navbar-default{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.btn-danger{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	
}
.btn-success{
	background: #29af70;
	box-shadow: 0px 0px 5px #ddd;
	transition-duration: 0.5s;
}
.btn-success:hover{
	background: #29af70;
	border-color: #555555;
}
.btn-success.focus, .btn-success:focus {
	color: #fff;
	background-color: #7b0724;
	border-color: #555555;
}
/* .btn-success{
	Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#78bf7f+1,007700+100
	background: #78bf7f; Old browsers
	background: -moz-linear-gradient(top,  #78bf7f 1%, #007700 100%); FF3.6-15
	background: -webkit-linear-gradient(top,  #78bf7f 1%,#007700 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to bottom,  #78bf7f 1%,#007700 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78bf7f', endColorstr='#007700',GradientType=0 ); IE6-9
} */
.btn-primary, .navbar-primary{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3499ed+1,006de2+100 */
	background: #3499ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #3499ed 1%, #006de2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3499ed 1%,#006de2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3499ed 1%,#006de2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3499ed', endColorstr='#006de2',GradientType=0 ); /* IE6-9 */
}


.file-caption{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
div.input-group.file-caption-main {
    padding-left: 0px !important;
}
.file-preview .fileinput-remove {
	top: 1px;
	right: 1px;
	line-height: 10px;
	border: 1px solid #ddd;
	padding: 3px;
	background: red;
	color: #fff;
	opacity: 1;
	border-radius: 5px;
}

input.file-input-control{
	width: 95% !important;
}
/*
=========================================
============ Table related overrided style =========
=========================================
*/

.table th, .table td{
	padding: 5px 10px !important;
	vertical-align: middle !important;
}
.table th a.btn, .table td a.btn{
	width: 22px;
	height: 22px;
	padding: 0px !important;
	font-size: 10px;
	border: 1px solid #ccc;
	line-height: 21px;
}

.table th .btn, .table td .btn{
	width: 22px;
    height: 22px;
    padding: 0px;
    font-size: 10px;
}
.sorting_asc:after, .sorting:after, .sorting_desc:after{
	line-height: 12px;
}

/*
=========================================
============ Form related Overrided style =========
=========================================
*/
.form-group {
	margin-bottom: 5px;
}
.timerange{
	margin-bottom: 0px;
}
.control-label {
	padding: 6px 0px 0px 15px !important;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	font-size: 12px;
}
#mainform .form-control{
	/* margin-bottom: 3px;
	margin-top: -3px; */
}
.form-control{
	height: 30px;
	font-size: 12px;
}

input[type=time].form-control{
	line-height: 18px !important;
}

input.form-control[disabled], textarea.form-control[disabled], select.form-control[disabled]{
	border: none !important;
	background-color: transparent !important;
	cursor: default;
	box-shadow: 0px 0px 0px;
	resize: none;
}
input.form-control[disabled] + .input-group-addon{
	display: none;
}

select.form-control[disabled]{
	padding-left: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

input:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder {color: #fff;}
input:disabled:-moz-placeholder, textara:disabled:-moz-placeholder {color: #fff;}
input:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder {color: #fff;}
input:disabled:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {color:    #fff;}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
	padding-top: 7px;
}

div.input-group{
	padding-left: 15px !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
	margin-left: 15px;
}
.bootstrap-datetimepicker-widget table td {
	color: #000;
}
.todayText:before {
	content: "Today's Date"
}
.input-group-addon {
	font-size: 13px;
}
.date-time-wrapper {
	display: inline-table;
}
.timepicker > input.form-control{
	max-width: 100% !important;
}
.timerangeseperator{
	display: inline-block;
}
.has-feedback .form-control {
	padding: 5px 7px !important;
}
select.form-control {
	padding-left: 8px;
}
select.form-control[disabled] {
	padding-left: 11px;
}
.checkbox-inline label, .radio-inline label{
	font-weight: normal;
}
input[type=checkbox], input[type=radio] {
    margin-top: 1px !important;
}

/*
=========================================
============ Custom Paddings style =========
=========================================
*/

.padding-5{
	padding: 5px;
}
.padding-10{
	padding: 10px;
}
.padding-15{
	padding: 15px;
}


/*
=========================================
============ Custom Paddings style =========
=========================================
*/

.margin-5{
	margin: 5px;
}
.margin-10{
	margin: 10px;
}
.margin-15{
	margin: 15px;
}




/*
=========================================
============ Search suggest =========
=========================================
*/
.search-suggest-results{
	padding: 2px !important;
	max-height: 170px;
	z-index: 99999;
	position: absolute;
	float: left;
	border: 1px solid #ddd;
	left: 15px;
	background: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 3px;
	display: none;
}
.search-suggest-results ul {
	padding: 0; margin: 0;
}
.search-suggest-results ul li{
	list-style: none;
	padding: 5px 10px;
}
.search-suggest-results ul li:hover{
	background: #961b39;
	color: #fff;
	cursor: pointer;
}

.search-suggest-results::-webkit-scrollbar-track {
	border: 1px solid #961b39;
	background-color: #F5F5F5;
}

.search-suggest-results::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.search-suggest-results::-webkit-scrollbar-thumb {
	background-color: #961b39;	
}



/*
=========================================
============ Custom css style =========
=========================================
*/

.input-only-display {
	margin-left: 15px;
	line-height: 30px;
}

.border-box{
	border: 1px solid #ddd;
	padding: 10px !important;
	border-radius: 5px;
}
.content-container{
	margin-top: 5px !important;
}

h1.brand-name a{
	text-decoration: none;
}
.menu-section {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.navbar {
	border: none !important;
	margin-bottom: 0px !important;
}

ul.ckbigmenu {
	border-radius: 10px !important;
	width: 402px;
	padding: 5px 5px;
	max-height: 400px;
	overflow-y: scroll;
}

ul.ckbigmenu::before {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	top: -6px;
	right: 15px;
}

li.ckbigmenu-li{
	list-style: none;
	float: left;
	box-sizing: border-box;
}

li.ckbigmenu-li a {
	padding: 0px;
	width: 120px;
	height: 120px;
	border: 1px solid #DDD;
	border-radius: 10px;
	text-align: center;
	margin: 5px;
	display: inline-block;
}

.ckbigmenu-icon {
	display: block;
	width: 65px;
	height: 65px;
	font-size: 25px;
	border-radius: 50%;
	background: #000;
	margin-bottom: 5px;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 65px;
	color: #fff;
	opacity: 0.5;
}

li.ckbigmenu-li a:hover .ckbigmenu-icon{
	opacity: 0.85;
}

.ckbigmenu-text {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	padding: 0px 10px;
	white-space: normal;
}

.ckbigmenu-showall {
	display: block;
	width: 100%;
	float: left;
	border-top: 1px dashed #ccc;
	font-size: 14px;
	margin: 10px 0 0;
	text-align: center;
	cursor: pointer;
	color: #6b6a6a;
}

.section-header {
	/* border-bottom: 2px solid #222; */
}

.section-header h1 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}

.section-header h3 {
	margin: .5em 0 0 0;
	padding: 0;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}
.section-header{
	margin-bottom: 10px;
}

.dashboard-menu-table td a {
	margin-left: 20px;
}

ul.ckbigmenu{
	bacckground: #fff;
}
ul.ckbigmenu td{
	color: #333 !important;
}

.navbar-inverse ul.dropdown-menu a {
    color: #337ab7  !important;
}








/* === form validation releated css == */
.has-feedback{
	margin-bottom: 25px;
}
.has-feedback .control-label{
	color: #333;
}
.help-block{
	left: 15px !important;
}




/*
=========================================
============ Alert style =========
=========================================
*/
.alert {
	position: absolute;
	padding: 8px 15px;
	width: 80%; 
	margin: 0 auto;
	z-index: 99999;
}
.alert-dismissable .close, .alert-dismissible .close {
	right: 0px;
}


/*
=========================================
============ Loading mask =========
=========================================
*/

/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
	from {
		transform : rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
	content: "";
	position: absolute;
	border-width: 20px;
	border-style: solid;
	border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	animation: 2s linear 0s normal none infinite running spin;
	filter: drop-shadow(0 0 5 rgba(0, 0, 0, 0.33));
}


/*
=== Loading mask 2
*/
#loadingdots {
	position: relative;
	height: 100px;
	width: 200px;
	top: calc(50% - 50px);
	left: calc(50% - 100px);
}

#loadingdots_1 {
	left: 0;
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#loadingdots_2 {
	left: 30px;
	-moz-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#loadingdots_3 {
	left: 60px;
	-moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#loadingdots_4 {
	left: 90px;
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#loadingdots_5 {
	left: 120px;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#loadingdots_6 {
	left: 150px;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#loadingdots_7 {
	left: 180px;
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@-moz-keyframes bounce_loadingdots{
	0%{
		-moz-transform: scale(1);
		opacity: 0.5;
	}

	25%{
		-moz-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-moz-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-moz-transform:scale(1);
		opacity: 0.5;
	}
}

@-webkit-keyframes bounce_loadingdots{
	0%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-webkit-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}
}

@-ms-keyframes bounce_loadingdots{
	0%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-ms-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}
}

@-o-keyframes bounce_loadingdots{
	0%{
		-o-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-o-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-o-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-o-transform:scale(1);
		opacity: 0.5;
	}
}

@keyframes bounce_loadingdots{
	0%{
		transform:scale(1);
		opacity: 0.5;
	}

	25%{
		transform:scale(1.5);
		opacity:1;
	}

	50%{
		transform:scale(1);
		opacity: 0.5;
	}

	100%{
		transform:scale(1);
		opacity: 0.5;
	}
}

.loadingdots {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: bounce_loadingdots;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: bounce_loadingdots;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: bounce_loadingdots;
	background-color: #FFC40D;
	border-radius: 5px;
	position: absolute;
	top: 0;
	color: #fff; padding : 40px 5px;
	text-align: center;
	padding: 40px 5px;
}

#loadingmask2 {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	z-index: 99999;
}





/*
========= Paginated table styles
*/
#paginated-table{
	margin-bottom: 0px;
}
#paginated-table td, #paginated-table th {
	line-height: 30px;
	padding: 0px 10px;
	font-size: 12px;
}
.pagination{
	margin: 5px 0px;
}
#pagination-element > li{
	padding: 0px;
	cursor: pointer;
}
#pagination-element > li > a{
	padding: 5px 12px;
}

#imageUploaderPreview{
	border: 1px solid #DDD;
	min-height: 200px;
	box-sizing: border-box;
}


.footer-section {
	margin-top: 20px;
}

.nodisplay, li.nodisplay {
	display: none;
}




/**
* ================================
* Mobile css
* =============================
*/

@media (max-width: 767px){
	.ckbigmenu {
		background-color: #fff !important;
	}
}

@media only screen and (max-width: 600px) {
	h1.brand-name {
		font-size: 45px;
	}
	.org-logo{
		display: none;
	}
}




