<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GRN Return</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/grnreturn}">GRN return</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>GRN Return</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/procurement/grnreturn}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(pocrnheader.xcrnnum)}" th:href="@{/procurement/grnreturn}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(pocrnheader.xcrnnum) and pocrnheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(pocrnheader.xcrnnum) and pocrnheader.zactive == true}" th:href="@{/procurement/grnreturn/confirmprn/} + ${pocrnheader.xcrnnum}" class="btn btn-sm btn-success confirmprn-btn-link"><i class="fas fa-tick-alt"></i> Confirm</a>
										<a th:if="${not #strings.isEmpty(pocrnheader.xcrnnum) and pocrnheader.zactive == true}" th:href="@{/procurement/grnreturn/archive/} + ${pocrnheader.xcrnnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(pocrnheader.xcrnnum) and pocrnheader.zactive == false}" th:href="@{/procurement/grnreturn/restore/} + ${pocrnheader.xcrnnum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/procurement/grnreturn/save}" th:object="${pocrnheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtype}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(pocrnheader.xcrnnum)}" class="form-control" th:field="*{xcrnnum}">
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(pocrnheader.xcrnnum)}">
														<label class="control-label col-md-4" for="xtrncrn">CRN Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrncrn}">
																<option th:each="prefix : ${crnprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(pocrnheader.xcrnnum)}">
														<label class="control-label col-md-4" for="xcrnnum">CRN Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xcrnnum}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xgrnnum">GRN Number : </label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${pocrnheader.xgrnnum}" 
																	th:attr="search-url='search/supplier'"/>
															<input type="hidden" id="search-val" th:field="*{xgrnnum}"/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcus">Supplier No : </label>
														<div class="col-sm-6">
															<input type="hidden" th:field="*{xcus}">											
															<input type="text" class="form-control" th:value="${pocrnheader.xcus}" disabled/>
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${pocrnheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(pocrnheader.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div>

												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatucgrn">Status : </label>
														<div class="col-md-8">
															<input type="hidden" class="form-control" th:field="*{xstatuscrn}"/>
															<input type="text" class="form-control" th:value="*{xstatuscrn}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xvoucher">Voucher No. : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xvoucher}">
														</div>
													</div>

													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">Total Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control xtotamt" th:field="*{xtotamt}" disabled="disabled">
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xvatait">Vat Tax ID : </label>
														<div class="col-md-8">
															<select class="form-control vatait-select" th:field="*{xvatait}">
																<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xvatamt">Vat Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control hidden" th:field="*{xvatamt}" min="0">
															<input type="number" class="form-control xvatamt-show" min="0" th:value="${pocrnheader.xvatamt}" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xaitamt">Tax Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control hidden" th:field="*{xaitamt}" min="0">
															<input type="number" class="form-control xaitamt-show" min="0" th:value="${pocrnheader.xaitamt}" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscprime">Prime Discount: </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xdiscprime}" min="0">
														</div>
													</div>
 -->
													

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All GRN Returns</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Return Number</th>
													<th>GRN Number</th>
													<th>Date</th>
													<th>Warehouse</th>
													<th>Supplier Number</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="pocrn : ${allPocrnHeader}">
													<td>
														<a th:href="@{/procurement/grnreturn/} + ${pocrn.xcrnnum}" th:text="${pocrn.xcrnnum}"></a>
													</td>
													<td th:text="${pocrn.xgrnnum}"></td>
													<td th:text="${#dates.format(pocrn.xdate, df)}"></td>
													<td th:text="${pocrn.xwh}"></td>
													<td th:text="${pocrn.xcus}"></td>
													<td th:text="${pocrn.xstatuscrn}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>

					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(pocrnheader.xcrnnum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/procurement/grnreturn/pocrndetail/} + ${pocrnheader.xcrnnum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>GRN Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="pogrndetailtable" th:fragment="pogrndetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Qty</th>
											<th>Rate</th>
											<th>Unit</th>
											<th>Line Amount</th>
											<th>Note</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/procurement/grnreturn/} + ${pocrnheader.xcrnnum} + '/pogrndetail/new/show', data-target-modal='pocrndetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${pocrnDetailsList}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a href="" th:text="${d.xitemname}"></a>
											</td>
											<td th:text="${d.xqtygrn}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xunit}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td th:text="${d.xlong}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/procurement/grnreturn/} + ${pocrnheader.xcrnnum} + '/pogrndetail/' + ${d.xrow} + '/show', data-target-modal='pocrndetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/procurement/grnreturn/} + ${pocrnheader.xcrnnum} + '/pogrndetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="pocrndetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			
			$('a.confirmprn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/procurement/grnreturn/confirmprn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "PRN Confirmed");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1500);
					}
				});
			});
			
		/* 	$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;						
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			 */
			
		});
	</script>
</html>