<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Sales & Invoicing</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice}">Sales & Invoicing</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Sales & Invoicing</h1>
							</div>
							<div class="section-body">
								<table class="table dashboard-menu-table">
									<tr>
										<td colspan="2">Sales Order</td>
									</tr>
									<tr th:if="${menuProfile.M0401 ne null and menuProfile.M0401.display}">
										<td><a th:href="@{/salesninvoice/salesorder}" th:text="${menuProfile.M0401.screenprompt}">Sales Orders (Branch)</a></td>
										<td>
											<a th:href="@{/salesninvoice/salesorder}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0402 ne null and menuProfile.M0402.display}">
										<td><a th:href="@{/salesninvoice/salesorder/allopensalesorder}" th:text="${menuProfile.M0402.screenprompt}">All Open Sales Orders (Branch)</a></td>
										<td>
											<a th:href="@{/salesninvoice/salesorder/allopensalesorder}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0403 ne null and menuProfile.M0403.display}">
										<td><a th:href="@{/salesninvoice/salesorder/detailmatrix}" th:text="${menuProfile.M0403.screenprompt}">Sales Orders Matrix (Branch)</a></td>
										<td>
											<a th:href="@{/salesninvoice/salesorder/detailmatrix}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0404 ne null and menuProfile.M0404.display}">
										<td><a th:href="@{/salesninvoice/salesorderchalan}" th:text="${menuProfile.M0404.screenprompt}">Sales Orders Chalan (Branch)</a></td>
										<td>
											<a th:href="@{/salesninvoice/salesorderchalan}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>


									<tr>
										<td colspan="2">Sales</td>
									</tr>
									<tr th:if="${menuProfile.M0405 ne null and menuProfile.M0405.display}">
										<td><a th:href="@{/salesninvoice/salesandinvoice}" th:text="${menuProfile.M0405.screenprompt}">Sales Invoice</a></td>
										<td>
											<a th:href="@{/salesninvoice/salesandinvoice}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0406 ne null and menuProfile.M0406.display}">
										<td><a th:href="@{/salesninvoice/directsales}" th:text="${menuProfile.M0406.screenprompt}">Sales Invoice (Direct)</a></td>
										<td>
											<a th:href="@{/salesninvoice/directsales}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0407 ne null and menuProfile.M0407.display}">
										<td><a th:href="@{/salesninvoice/deliveryorderchalan}" th:text="${menuProfile.M0407.screenprompt}">Delivery Orders chalan</a></td>
										<td>
											<a th:href="@{/salesninvoice/deliveryorderchalan}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr th:if="${menuProfile.M0409 ne null and menuProfile.M0409.display}">
										<td><a th:href="@{/salesninvoice/returnsales}" th:text="${menuProfile.M0409.screenprompt}">Sales Return</a></td>
										<td>
											<a th:href="@{/salesninvoice/returnsales}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>

									<tr>
										<td colspan="2">Report</td>
									</tr>
									<tr>
										<td><a th:href="@{/salesninvoice/ddisr}" target="_blank">Daily Distribution Report</a></td>
										<td>
											<a th:href="@{/salesninvoice/ddisr}" target="_blank" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>

								</table>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
